* {
    background-color: black;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 250%;
    color: white;
}
#filters {
    text-align: center;
    margin: 1em 0;
}
#filters button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    border-radius: 20px;
}
#filters button:hover {
    background-color: #126882;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/* Individual gallery image styling */
#gallery img {
    max-width: 100%;
    height: auto;
    margin: 0.5em;
    cursor: pointer;
}

 /* Responsive image styling for screens wider than 600px */
 @media (min-width: 600px) {
    .gallery img {
        width: calc(33.333% - 1em);
    }
}
/* Responsive image styling for screens narrower than 600px */
@media (max-width: 599px) {
    .gallery img {
        width: calc(50% - 1em);
    }
}
.image {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}
/* Lightbox overlay styling */
#lightbox {
    display: none;
    position: fixed;
    top: 50%; /* Position the lightbox vertically in the center */
    left: 50%; /* Position the lightbox horizontally in the center */
    transform: translate(-50%, -50%); /* Center the lightbox using transform */
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999; /* Ensure the lightbox appears above other content */
    text-align: center; /* Center the content inside the lightbox */
    padding: 20px; /* Add padding for better readability */
    }
}
/* Lightbox image styling */
#lightbox img {
    max-width: 50%; /* Limit the maximum width of the image inside the lightbox */
    max-height: 50%; /* Limit the maximum height of the image inside the lightbox */
    display: block; /* Ensure the image is centered within the lightbox */
    margin: 0 auto; /* Center the image horizontally */
}
/* Lightbox close button styling */
#lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}